/* Default */
body {
  margin: 0;
  overflow-x: hidden;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


/* Headlines */
#title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: red;
  font-size: 300%;
}

#title {}

/* Images */

#profile-pic-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
}

#profile-pic {
  border-radius: 50%;
}