/* General */
body {
  margin: 0;
  overflow-x: hidden;
}

div {
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  margin: 0;
}

a { color: inherit; } 

h1 h2{
  margin: 0;
}


#page-1-div {
  background-color: rgb(207, 225, 225);
}

#page-2-div {
  background-color: rgb(69, 139, 139);
}

#page-3-div {
  background-color: rgb(3, 38, 38);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

#heading-div {
  width: 100vw;
  height: 10vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 200%;
}

#profile-pic-div {
  width: 25vw;
  height: 10vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-pic {
  border-radius: 50%;
  width: 100%;
  filter: sepia(50%);
}

.subheading-div {
  width: 28vw;
  height: 10vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 200%;
}

.subheading-div-1 {
  top: 115%;
}
.subheading-div-2 {
  top: 215%;
}

